.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

.inicio {
	background-image: url(../img/hotel.jpg);
	background-position: center center;
	background-size: cover;
	height: 65vh;
}
.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.footer-address-icon {
	padding-right: 10px;
}